Nodered_flows
[{"id":"77abd9dc.cf8598","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10e15f88.0c7d5","type":"http in","z":"77abd9dc.cf8598","name":"","url":"fermentracksensor","method":"post","upload":false,"swaggerDoc":"","x":330,"y":160,"wires":[["d5e59765.885f98"]]},{"id":"d5e59765.885f98","type":"json","z":"77abd9dc.cf8598","name":"","property":"payload","action":"","pretty":false,"x":580,"y":180,"wires":[["d42f8022.82256","c75da916.4be7d8"]]},{"id":"d42f8022.82256","type":"change","z":"77abd9dc.cf8598","name":"Set Topic to Device Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.brewpi_devices[0].name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[["67d721a3.ea2ca"]]},{"id":"5d43cab9.b67684","type":"ha-entity","z":"77abd9dc.cf8598","name":"Fermentrack_Sensor","server":"e466826c.501ab","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Fermentrack_Beer_Temp"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":1010,"y":760,"wires":[[]]},{"id":"d1254eb0.c15bc","type":"ha-entity","z":"77abd9dc.cf8598","name":"Fermentrack_Fridge","server":"e466826c.501ab","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Fermentrack_Fridge_Temp"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":1050,"y":880,"wires":[[]]},{"id":"675b35d7.14947c","type":"ha-entity","z":"77abd9dc.cf8598","name":"Fermentrack_Room","server":"e466826c.501ab","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Fermentrack_Room_Temp"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":1010,"y":820,"wires":[[]]},{"id":"67d721a3.ea2ca","type":"change","z":"77abd9dc.cf8598","name":"","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload.temp","pt":"msg","to":"payload.brewpi_devices[0].beer_temp","tot":"msg"},{"t":"set","p":"payload.aux_temp","pt":"msg","to":"payload.brewpi_devices[0].fridge_temp","tot":"msg"},{"t":"set","p":"payload.ext_temp","pt":"msg","to":"payload.brewpi_devices[0].room_temp","tot":"msg"},{"t":"set","p":"payload.temp_unit","pt":"msg","to":"C","tot":"str"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"payload.api_key","pt":"msg"},{"t":"delete","p":"payload.version","pt":"msg"},{"t":"delete","p":"payload.brewpi_devices","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"payload.gravity_sensors","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["6b47f889.3b3c48","1c91b07f.0f19c"]]},{"id":"48c38c91.566de4","type":"http request","z":"77abd9dc.cf8598","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://log.brewfather.net/stream?id=!secret","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":560,"wires":[[]]},{"id":"6b47f889.3b3c48","type":"delay","z":"77abd9dc.cf8598","name":"","pauseType":"rate","timeout":"16","timeoutUnits":"minutes","rate":"1","nbRateUnits":"16","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":870,"y":480,"wires":[["48c38c91.566de4"]]},{"id":"1c91b07f.0f19c","type":"split","z":"77abd9dc.cf8598","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":540,"y":540,"wires":[["b300c19c.6c35e"]]},{"id":"619ed42d.2faf8c","type":"switch","z":"77abd9dc.cf8598","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"ext_temp","vt":"str"},{"t":"eq","v":"aux_temp","vt":"str"},{"t":"eq","v":"units","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":670,"y":680,"wires":[["5d43cab9.b67684","ff54ec5b.95cc2"],["675b35d7.14947c","ff54ec5b.95cc2"],["ff54ec5b.95cc2","d1254eb0.c15bc"],[]]},{"id":"b300c19c.6c35e","type":"change","z":"77abd9dc.cf8598","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"parts.key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[["619ed42d.2faf8c"]]},{"id":"ff54ec5b.95cc2","type":"ui_chart","z":"77abd9dc.cf8598","name":"","group":"35ae37a7.ba2218","order":0,"width":0,"height":0,"label":"Fermentrack Temps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":700,"wires":[[]]},{"id":"c75da916.4be7d8","type":"debug","z":"77abd9dc.cf8598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":180,"wires":[]},{"id":"e466826c.501ab","type":"server","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"35ae37a7.ba2218","type":"ui_group","name":"Fermentrack","tab":"20d9e88.7a00218","disp":true,"width":"6","collapse":false},{"id":"20d9e88.7a00218","type":"ui_tab","name":"Fermentrack","icon":"dashboard","disabled":false,"hidden":false}]
